<section ng-controller="DocumentTypesController">
    <div class="ui inverted top attached olive header">
        New DocumentType
    </div>
    <div class="ui attached segment">
        <form name="documentTypeForm" class="ui form" ng-submit="create(documentTypeForm.$valid)" novalidate>
            <div class="field">
                <label for="title">Title</label>
                <input name="title" type="text" ng-model="title" id="title" class="form-control" placeholder="Title" required>
                <div ng-messages="documentTypeForm.title.$error" role="alert">
                    <p class="help-block error-text" ng-message="required">DocumentType title is required.</p>
                </div>
            </div>

            <div class="field"><input type="submit" class="ui button"></div>
        </form>
    </div>
</section>
