<section ng-controller="DocumentTypesController" ng-init="findOne()">
    <div class="ui inverted top attached olive header">
        <h1>Edit DocumentType</h1>
    </div>
    <div class="ui attached segment">
        <form name="documentTypeForm" class="ui form" ng-submit="update(documentTypeForm.$valid)" novalidate>
            <div class="field" show-errors>
                <label for="title">Title</label>
                <input name="title" type="text" ng-model="documentType.title" id="title" class="form-control" placeholder="Title" required>
                <div ng-messages="documentTypeForm.title.$error" role="alert">
                    <p class="help-block error-text" ng-message="required">DocumentType title is required.</p>
                </div>
            </div>

            <!--===================-->
            <div class="four fields" ng-repeat="key in documentType.keys">
                <div class="field">
                    <!--<label for="name">name</label>-->
                    <input name="name" type="text" ng-model="key.name" id="title" placeholder="name" required>
                </div>
                <div class="field">
                    <!--<label for="type">type</label>-->
                    <!--<input name="type" type="text" ng-model="key.type" id="type" placeholder="type">-->
                    <div id="newKeyType" class="ui selection dropdown">
                        <input type="text" ng-model="key.type">{{key.type}}</input>
                    </div>
                </div>
                <div class="field">
                    <!--<label for="default">default</label>-->
                    <input name="v" type="text" ng-model="key.default" id="default" placeholder="default">
                </div>
                <div class="field">
                </div>
            </div>

            <!--===================-->


            <div class="field">
                <input type="submit" value="Update" class="ui button">
            </div>
            <div ng-show="error" class="text-danger">
                <strong ng-bind="error"></strong>
            </div>
        </form>
        <div class="ui olive header">
            Add Property
        </div>
        <div class="ui olive segment">
            <div class="ui form">
                <div class="four fields">
                    <div class="field">
                        <!--<label for="name">name</label>-->
                        <input name="name" type="text" ng-model="newProp.name" id="title" placeholder="name" required>
                    </div>
                    <div class="field">
                        <!--<label for="type">type</label>-->
                        <!--<input name="type" type="text" ng-model="newProp.type" id="type" placeholder="type">-->
                        <div id="newKeyType" class="ui selection dropdown">
                            <input type="hidden" ng-model="newProp.type" name="gender">
                            <i class="dropdown icon"></i>
                            <div class="default text"><!--Gender--></div>
                            <div class="menu">
                                <div ng-click="changeNewkeyType('string')" class="item active" data-value="string">string</div>
                                <div ng-click="changeNewkeyType('text')" class="item active" data-value="text">text</div>
                                <div ng-click="changeNewkeyType('number')" class="item" data-value="number">number</div>
                                <div ng-click="changeNewkeyType('boolean')" class="item" data-value="boolean">boolean</div>
                                <div ng-click="changeNewkeyType('date')" class="item" data-value="date">date</div>
                                <div ng-click="changeNewkeyType('regex')" class="item" data-value="regex">regex</div>
                                <div ng-click="changeNewkeyType('file')" class="item" data-value="file">file</div>
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <!--<label for="default">default</label>-->
                        <input name="v" type="text" ng-model="newProp.default" id="default" placeholder="default">
                    </div>
                    <div class="field">
                        <input type="button" value="Add" class="ui fluid button" ng-click="addProperty()">
                    </div>
                </div>
            </div>
        </div>
    </div>


</section>
