<section ng-controller="DocumentTypesController" ng-init="findOne()">
    <div class="ui inverted top attached olive header">
        <h1>Edit DocumentType</h1>
    </div>
    <div class="ui attached segment">
        <form name="documentTypeForm" class="ui form" ng-submit="update(documentTypeForm.$valid)" novalidate>
            <div class="field" show-errors>
                <label for="title">Title</label>
                <input name="title" type="text" ng-model="documentType.title" id="title" class="form-control" placeholder="Title" required>
                <div ng-messages="documentTypeForm.title.$error" role="alert">
                    <p class="help-block error-text" ng-message="required">DocumentType title is required.</p>
                </div>
            </div>

            <!--===================-->
            <div class="four fields" ng-repeat="key in documentType.keys">
                <div class="field">
                    <input name="name" type="text" ng-model="key.name" id="title" placeholder="name" required>
                </div>

                <!--<div>
                    <!--<input name="name" type="text" ng-model="key.type" required>
                    </div-->
                <!--<select class="ui selection dropdown field" ng-model="key.type">
                    <option class="item active" value="text">text</option>
                    <option class="item active" value="file">file</option>
                    <option class="item active" value="number">number</option>
                    <option class="item active" value="string">string</option>
                    <option class="item active" value="boolean">boolean</option>
                    <option class="item active" value="date">date</option>
                    <option class="item active" value="regex">regex</option>
                    <option class="item active" value="date">date</option>
                    <option class="item active" value="relation">relation</option>
                </select>-->

                <select class="ui selection dropdown field" ng-model="key.type">
                    <option class="item active" value="{{type}}" ng-repeat="type in fieldTypes">{{type}}</option>
                </select>

                <div class="field" ng-show="key.type=='relation'">
                    <select class="ui selection dropdown" ng-init="key.data = key.data || {}" ng-model="key.data.relatingDocumentType">
                        <option class="item active" value="{{type._id}}" ng-repeat="type in documentTypes">{{type.title}}</option>
                    </select>
                </div>
                <div class="field" ng-hide="key.type=='relation'">
                    <input name="v" type="text" ng-model="key.default" id="default" placeholder="default">
                </div>
                <div class="ui toggle checkbox field" ng-model="key.multi">
                    <label>Is Multi</label>
                    <input type="checkbox">
                </div>
            </div>

            <!--===================-->


            <div class="field">
                <input type="submit" value="Update" class="ui button">
            </div>
            <div ng-show="error" class="text-danger">
                <strong ng-bind="error"></strong>
            </div>
        </form>
        <div class="ui olive header">
            Add Property
        </div>
        <div class="ui olive segment">
            <div class="ui form">
                <div class="five fields">
                    <div class="field">
                        <input name="name" type="text" ng-model="newProp.name" id="title" placeholder="name" required>
                    </div>
                    <div class="field">
                        <div id="newKeyType" class="ui selection dropdown">
                            <input type="hidden" ng-model="newProp.type" name="gender">
                            <i class="dropdown icon"></i>
                            <div class="default text"><!--Gender--></div>
                            <div class="menu">
                                <div ng-click="changeNewkeyType(type)" class="item active" data-value="{{type}}" ng-repeat="type in fieldTypes">{{type}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <input name="v" type="text" ng-model="newProp.default" id="default" placeholder="default">
                    </div>
                    <div class="ui toggle checkbox field">
                        <label>Is Multi</label>
                        <input type="checkbox" ng-model="newProp.multi">
                    </div>
                    <div class="field" ng-init="addDocumnetTypeToFieldTypes()">
                        <input type="button" value="Add" class="ui fluid button" ng-click="addProperty()">
                    </div>
                </div>
            </div>
        </div>
    </div>


</section>
