<section ng-controller="TagsController" ng-init="findOne()">
    <div class="ui olive header">related document</div>
    <div class="ui olive segment">
        <div class="ui four doubling olive cards" ng-init="findRelatedDocument(tag)">
            <div ng-repeat="document in relatedDocument" ui-sref="documents.view({documentId: document._id})" class="card">
                <div class="content">
                    <i class="right floated shop icon" ng-hide="document.haveInCollection"></i>
                    <i class="right floated radio icon" ng-show="document.readState == 'read later'"></i>
                    <i class="right floated selected  radio icon" ng-show="document.readState == 'in progress'"></i>
                    <i class="right floated check circle outline icon" ng-show="document.readState == 'compeleted'"></i>
                    <div class="header" ng-bind="document.value.Title"></div>
                    <div class="meta">
                        <span class="category" ng-bind="document.user.displayName"></span>
                        <span class="right floated time" ng-bind="document.created | date:'mediumDate'"></span>
                    </div>
                    <div class="ui label" ng-repeat="value in document.values">{{value[0]}}</div>

                    <div class="description" ng-bind="document.description"></div>
                </div>
                <div class="extra content">
                    <a ui-sref="documents.edit({documentId: document._id})"><i class="edit icon"></i></a>
                    <a ui-sref="documents.view({documentId: document._id})"><i class="chevron right icon"></i></a>
                    <div class="ui divider"></div>
                    <div class="ui green label" ng-repeat="tag in document.tags">
                        <i class="tag icon"></i>
                        {{tag.name}}
                        <a class="detail">{{tag.weight}}</a>
                        <i class="delete icon" ng-click="disjoinTag(document , tag)"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
